# Data Engineering Workshop
This notebook demonstrates:
- Web Scraping with BeautifulSoup
- Data Transformation with Pandas
- Storing Data in SQLite

In [1]:
import requests
from bs4 import BeautifulSoup

url = "https://finance.yahoo.com/quote/AAPL/history?p=AAPL"

# Add headers to mimic a real browser
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

# Make the request with headers
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    print("Webpage fetched successfully!")
else:
    print(f"Failed to fetch page. Status code: {response.status_code}")

Webpage fetched successfully!

In [2]:
print(soup.prettify()[:500])

<!DOCTYPE html>
<html class="desktop neo-green dock-upscale" data-color-scheme="auto" data-color-theme-enabled="true" lang="en-US" theme="auto">
 <head>
  <meta charset="utf-8"/>
  <meta content="guce.yahoo.com" name="oath:guce:consent-host"/>
  <link crossorigin="anonymous" href="//s.yimg.com" rel="preconnect"/>
  <link href="//geo.yahoo.com" rel="preconnect">
   <link href="//query1.finance.yahoo.com" rel="preconnect"/>
   <link href="//query2.finance.yahoo.com" rel="preconnect"/>
   <link hre

In [3]:
# Find table rows containing historical stock data
rows = soup.find_all("tr")[1:20]  # First 5 rows

# Extract date and closing price
data = []
for row in rows:
    cols = row.find_all("td")
    if len(cols) > 5:
        date = cols[0].text
        close_price = cols[4].text
        data.append([date, close_price])

# Print extracted data
print(data)

[['Mar 13, 2025', '210.22'], ['Mar 12, 2025', '216.98'], ['Mar 11, 2025', '220.84'], ['Mar 10, 2025', '227.48'], ['Mar 7, 2025', '239.07'], ['Mar 6, 2025', '235.33'], ['Mar 5, 2025', '235.74'], ['Mar 4, 2025', '235.93'], ['Mar 3, 2025', '238.03'], ['Feb 28, 2025', '241.84'], ['Feb 27, 2025', '237.30'], ['Feb 26, 2025', '240.36'], ['Feb 25, 2025', '247.04'], ['Feb 24, 2025', '247.10'], ['Feb 21, 2025', '245.55'], ['Feb 20, 2025', '245.83'], ['Feb 19, 2025', '244.87'], ['Feb 18, 2025', '244.47'], ['Feb 14, 2025', '244.60']]

In [4]:
import pandas as pd

# Convert extracted data into a Pandas DataFrame
df = pd.DataFrame(data, columns=["Date", "Close Price"])

# Show the DataFrame
df.head()

           Date Close Price
0  Mar 13, 2025      210.22
1  Mar 12, 2025      216.98
2  Mar 11, 2025      220.84
3  Mar 10, 2025      227.48
4   Mar 7, 2025      239.07

In [5]:
# Convert Close Price column to float (remove commas)
df["Close Price"] = df["Close Price"].str.replace(",", "").astype(float)

# Convert Date column to proper date format
df["Date"] = pd.to_datetime(df["Date"])

# Display cleaned DataFrame
df.head()

        Date  Close Price
0 2025-03-13       210.22
1 2025-03-12       216.98
2 2025-03-11       220.84
3 2025-03-10       227.48
4 2025-03-07       239.07

In [6]:
import sqlite3

# Connect to SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect("stocks.db")

# Store DataFrame in the database
df.to_sql("stock_prices", conn, if_exists="replace", index=False)

# Confirm that data is stored
print("Data successfully stored in SQLite!")

# Close the connection
conn.close()

Data successfully stored in SQLite!

In [8]:
# Reconnect to the database
conn = sqlite3.connect("stocks.db")

# Read stored data
df_sql = pd.read_sql("SELECT * FROM stock_prices", conn)

# Display stored data
df_sql.head(10)

                  Date  Close Price
0  2025-03-13 00:00:00       210.22
1  2025-03-12 00:00:00       216.98
2  2025-03-11 00:00:00       220.84
3  2025-03-10 00:00:00       227.48
4  2025-03-07 00:00:00       239.07
5  2025-03-06 00:00:00       235.33
6  2025-03-05 00:00:00       235.74
7  2025-03-04 00:00:00       235.93
8  2025-03-03 00:00:00       238.03
9  2025-02-28 00:00:00       241.84